* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: flex-start;
}
header {
  background-color: rgb(139, 13, 13);
  color: white;
  padding: 10px;
  margin: 0;
  flex-grow: 1;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  display: flex;
  justify-content: right;
  color: white;
  margin: 0;
  font-size: 25px;
  text-align: center;
  padding: 10px 20px;
}

.about {
  display: flex;
  background-color: lemonchiffon;
}

.abouthead {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
  font-size: 48px;
  margin-right: 40px;
  margin-left: 100px;
  border-right: blue solid 2px;
  height: 300px;
}

.aboutparagraph {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  width: 1000px;
  font-size: 25px;
}

.work {
  display: flex;
  flex-direction: row;
  background-color: lemonchiffon;
}

.workhead {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
  margin-left: 100px;
  margin-right: 240px;
  font-size: 48px;
  border-right: blue solid 2px;
  height: 300px;
}

.workparagraph {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  font-size: 25px;
  background-color: green;
  flex-shrink: 0;
}

#comingsoon1 {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 600px;
}

#comingsoon1:hover {
  transform: scale(1.1);
}

.contact {
  font-size: 20px;
}

.contact a {
  color: white;
}

@media screen and (max-width: 376px) {
  nav {
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 664px) and (min-width: 376px) {
  nav a {
    justify-content: center;
  }

  nav {
    justify-content: center;
  }

  header {
    justify-content: center;
  }
}

@media screen and (max-width: 1122px) {
  .abouthead {
    border-right: none;
    margin: 0;
  }

  .workhead {
    margin: 0;
    border-right: none;
  }
}

@media screen and (max-width: 448px) {
  .about {
    flex-direction: column;
  }

  .aboutparagraph {
    width: auto;
  }

  .work {
    flex-direction: column;
  }

  .workparagraph {
    width: auto;
  }

  #comingsoon1:hover {
    transform: scale(1);
  }
}
